html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, input, textarea {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: 'Archivo', sans-serif;
}

a {
  text-decoration: none;
}

.root {
  max-width: 1920px;
  min-height: 100vh;
  margin: 0 auto;
  display: block;
}

/* ======================== BEGIN HEADER ======================== */
.header-section {
  position: relative;
  background-position: center;
  height: 720px;
}

.video-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.top-header {
  height: 100px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid white;
}

.logo-wrapper > img {
  cursor: pointer;
  object-fit: contain;
}

.list-item {
  gap: 35px;
  padding: 0;
  display: flex;
  overflow: hidden;
  list-style-type: none;
}

.item {
  float: left;
}

.item a {
  color: white;
  font-size: 15px;
  font-weight: 600;
  line-height: 135%;
  text-decoration: none;
  text-transform: uppercase;
}

.external-link-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.btn-group {
  gap: 24px;
  display: flex;
}

.language-txt {
  color: white;
  font-size: 15px;
  font-weight: 500;
  line-height: 135%;
  margin-inline-start: 68px;
  cursor: pointer;
  text-transform: uppercase;
}

.bottom-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  height: calc(100% - 100px);
}

.title-header-wrapper {
  margin-bottom: 60px;
}

.title-header {
  font-size: 60px;
  font-weight: 500;
  line-height: 130%;
}
/* ======================== END HEADER ======================== */

/* ======================== BEGIN MAIN CONTENT ======================== */
.summary {
  gap: 37px;
  display: flex;
  flex-direction: row;
  padding-top: 80px;
  padding-bottom: 100px;
}

.summary-title {
  width: 570px;
  font-size: 34px;
  font-weight: 600;
  line-height: 130%;
}

.container-info-summary {
  gap: 50px;
  display: flex;
  align-items: center;
}

.group-info-summary {
  height: 94px;
}

.count-info-summary {
  font-size: 46px;
  font-weight: 600;
  line-height: 130%;
  color: #F7D138;
  text-align: center;
}

.label-info-summary {
  font-size: 18px;
  font-weight: 400;
  line-height: 150%;
  text-align: center;
}

.vertical-line {
  width: 1px;
  height: 40px;
  background-color: #E0E0E0;
}

.block {
  gap: 30px;
  display: flex;
  flex-direction: column;
  padding-bottom: 100px;
}

.title {
  font-size: 46px;
  font-weight: 600;
  line-height: 130%;
  color: #18181B;
}

.description {
  font-size: 18px;
  font-weight: 400;
  line-height: 150%;
  color: #18181B;
  max-width: 810px;
}

.title-card {
  font-size: 24px;
  font-weight: 500;
  line-height: 140%;
  color: #18181B;
}

.description-card {
  font-size: 16px;
  font-weight: 400;
  line-height: 140%;
  color: #18181B;
}

.list-card-solution {
  display: grid;
  margin-top: 20px;
  column-gap: 30px;
  grid-template-columns: repeat(3, 1fr);
}

.card-solution {
  gap: 24px;
  display: flex;
  flex-direction: column;
  padding: 40px 24px;
  background-color: white;
  border-top: 3px solid #386FFF;
  box-shadow: 0px 4px 14px 0px rgba(0, 0, 0, 0.09);
}

.more-btn {
  gap: 16px;
  width: fit-content;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-top: 6px;
  padding-bottom: 12px;
  cursor: pointer;
  border-bottom: 1px solid #F7D138;
}

.more-btn > span {
  font-size: 15px;
  font-weight: 500;
  line-height: 135%;
  color: #18181B;
  text-transform: uppercase;
}

.list-card-services {
  gap: 30px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.card-services {
  padding: 30px 0;
  background-color: white;
  box-shadow: 0px 4px 14px 0px rgba(0, 0, 0, 0.09);
}

.content-card-services {
  padding: 0 30px;
  min-height: 150px;
  border-inline-start: 3px solid #386FFF;
}

.content-card-services {
  display: grid;
  column-gap: 35px;
  grid-template-columns: 24px auto;
}

.list-card-partners {
  gap: 30px;
  width: 100%;
  display: flex;
  flex-direction: row;
  overflow: hidden;
  margin-top: 20px;
  margin-bottom: 20px;
}

.card-partners {
  display: flex;
  padding: 20px;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  width: 270px;
  height: 326px;
  background-color: #333333;
  border-radius: 4px;
  flex-shrink: 0;
}

.content-card-partners {
  gap: 12px;
  display: flex;
  flex-direction: column;
}

.line {
  width: 100%;
  height: 2px;
  background-color: #386FFF;
}

.arrows-slider {
  gap: 10px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.article {
  display: grid;
  column-gap: 150px;
  grid-template-columns: 1fr 1fr;
}

.label {
  font-size: 14px;
  font-weight: 400;
  line-height: 140%;
  color: #18181B;
  text-transform: uppercase;
  margin-bottom: 12px;
}
/* ======================== END MAIN CONTENT ======================== */

/* ======================== FOOTER ======================== */
.footer-section {
  padding: 73px 0 57px 0;
  background-color: #18181B;
}

.top-footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 53px;
  border-bottom: 1px solid #F7D138;
}

.intro-footer {
  color: white;
  font-size: 28px;
  font-weight: 500;
  line-height: 140%;
  max-width: 690px;
}

.bottom-footer {
  padding-top: 40px;
}

.group-wrapper {
  display: grid;
  margin-bottom: 50px;
  grid-template-columns: repeat(5, 240px);
}

.group {
  gap: 12px;
  display: flex;
  flex-direction: column;
}

.title-group {
  color: white;
  font-size: 14px;
  font-weight: 400;
  line-height: 130%;
  text-transform: uppercase;
}

.link {
  color: white;
  font-size: 14px;
  font-weight: 400;
  line-height: 150%;
}

.social-footer {
  gap:30px;
  display: flex;
  flex-direction: row;
  align-items: center; 
  justify-content: flex-start;
}

.copyright {
  color: white;
  font-size: 13px;
  font-weight: 300;
  line-height: 130%;
  padding-inline-start: 27px;
}
/* ======================== END FOOTER ======================== */

/* ======================== COMMON ======================== */
.container {
  max-width: 1410px;
  width: calc(100% - 32px);
  margin: 0 auto;
}
.primary-btn {
  gap: 10px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: #F7D138;
  padding: 10px 16px 10px 24px;
  border: 1px solid #F7D138;
  border-radius: 4px;
  cursor: pointer;
}
.primary-btn:hover {
  box-shadow: 2px 2px 7px rgba(100, 101, 103, 0.25);
}
.primary-btn > span {
  font-size: 15px;
  font-weight: 500;
  line-height: 135%;
  color: #18181B;
}
.transparent-btn {
  gap: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 24px;
  border-radius: 4px;
  border: 1px solid white;
  background-color: transparent;
  cursor: pointer;
}
.transparent-btn > span {
  color: white;
  font-size: 15px;
  font-weight: 400;
  line-height: 135%;
}
.white {
  color: #FFFFFF;
}
.yellow {
  color: #F7D138;
}
.bg-grey {
  background-color: #F9F9F9;
}
.mt-24 {
  margin-top: 24px;
}
.mb-18 {
  margin-bottom: 18px;
}
.mb-20 {
  margin-bottom: 20px;
}
.mb-60 {
  margin-bottom: 60px;
}
.mb-80 {
  margin-bottom: 80px;
}
.mr-40 {
  margin-inline-end: 40px;
}
.pt-100 {
  padding-top: 100px;
}
/* ======================== END COMMON ======================== */